#mybody{
    background-color: rgb(95, 180, 49);
}
.heading{
    text-align: center;
    color: red;
}
#myform
{
    width: 40%;
    background-color: rgb(73, 55, 55);
    margin: auto;
}
input[type="text"],input[type="email"],input[type="date"],input[type="number"],#education
{
    width: 100%;
    height: 40%;
    outline: none;
    border-radius: 8px;
}
input[type="text"]:focus,input[type="email"]:focus,input[type="date"]:focus,input[type="number"]:focus,#education:focus
{
    border: 8px solid blue;
    color: red;

}
input[type="radio"]:checked+label{
    color: rebeccapurple;
    letter-spacing: 10px;
}

input[type="checkbox"]:enabled+label{
    color: red;
    font-style: italic;

}
input[type="checkbox"]:checked+label{
    color: green;
    font-style: normal;
}

input[type="checkbox"]:disabled+label{
    color: red;
    font-style: italic;
}

ul li:first-child{
    background-color: yellow;
}
ul li:last-child{
    background-color: red;
}
ul li:nth-child(3)
{
    background-color: black;
}
p:empty{
    height: 20px;
    background-color: yellow;
}
.register_btn{
    width: 150px;
    height: 43px;
    border-radius: 5px;
}
.register_btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}