/* universal selector */
/* *{
    color: aquamarine;
    font: 10px;
}
tag element selector */
 /* h1{ */
    /* color: green; */
/* } */
/* attributer selector */
/* a[title="google"]{
    color: blue;
    letter-spacing: 10px;
} */
/* id select */
/* #Idone{
    color: green;
}
.clasone{
    color: violet;
    line-height: 20px;
    text-transform:uppercase;
    word-spacing:10px;
}  */
/* descend selector */
.desc a{
    color: red;
    text-decoration: none;
}
/* child select */
.child > a{
    color :green;
    text-decoration: none;

}
/* pseudo Selector */
a:link{
    color: red;
}
a:hover{
    color: green;
}
a:active{
    color: blue;
}
a:visited{
    color: blueviolet;
}
/* target Selector */
/* p:target{
    color: red;
} */
 :target
 {
    color: blue;
    border: 2px solid black;
    font-style: italic;
 }


