*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(241, 150, 165);
    color: white;
}
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 60px;
    height: 60px;
    margin: 0 15px 0 15px;
}
.brand{
    font-weight: bold;
    font-style: italic;
}
.navmenu ul{
    display: grid;
    grid-template-columns:repeat(5,auto);
    justify-content: end;
    gap: 30px;
    color: blue;
}
.navmenu ul li{
    list-style-type: none;
   }
.navmenu ul li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 20px;

}
.navmenu ul li a:hover{
    color: white;
    background-color: rgb(232, 25, 25);
    border-radius: 5px;
}

.btn{
    display: inline-block;
    padding: 20px 30px;
    background-color:rgb(185, 203, 45) ;
    color: rgb(228, 23, 108);
    border-radius: 30px;
}
.hero-container{
    position: relative;
    width: 100%;
    height: 900px;
    background-image: url(images/back.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;

    display: flex;
    justify-content: center;
    align-items: center;
    font: weight 10px;
    color: yellow;
    text-align: center;
}
.signature{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px 70px;
    column-gap: 50px;
}
.signature-image{
 width: 100%;
}
.signature-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-title{
    font-size: 3em;
    color: white;

}
.menu-about{
    margin:30px 0;
    font-size: 1.3em;
}
.main-adv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px 70px;
}
.adv{

   width: 100%;

}
.adv-guidline h2{
    font-size: 3em;
    color: white;
    margin: 30px ;
    align-items: center;

}
.adv-guidline p
{
    font-size: 1.3em;
}
.adv{
    margin: 20px 30px 0 0;
}
.Location{
    display: grid;
    grid-template-columns: repeat(2,auto);

}
.Location h1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
/* /* .contant-text{
    font-size: 1.3em;
    /* display: flex;
} */
.contant{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 100px 70px;
}
.info{
    display: flex;
    padding: 20px 0;
}
.contant-icon{
    padding: relative;
    background-color: #cda45e;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-align: center;
    color: rgb(127, 120, 120);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.contant-text p{
    font-size: 1.2em;
}
